mixin form-field-betboom({ label, value, name, type, id, isRequired, placeholder, inputClassName })
  .f-field-betboom(class=className)
    label.f-field-betboom__label(for=id)=label
    input.f-field-betboom__field(
      type=(type || "text")
      id=id
      name=name
      value=value
      placeholder=placeholder
      class=isRequired && "js-field-required"
      class=inputClassName
    )
  if isRequired
    .f-field-betboom__error Заполните поле

