mixin form-textarea-betboom({ label, value, name, id, isRequired, placeholder, className })
  .f-textarea-betboom(class=className)
    label.f-textarea-betboom__label(for=id)=label
    textarea.f-textarea-betboom__field(
      id=id
      name=name
      placeholder=placeholder
      class=isRequired && "js-field-required"
    )=value
  if isRequired
    .f-textarea-betboom__error Заполните поле
