mixin form-field-group-betboom({ label, name, id, placeholder, isRequired, inputClassName })
  .f-field-group-betboom.js-field-group
    .f-field-group-betboom__el.js-field-group-example
      label.f-field-group-betboom__label.js-field-group-label(for=id)=label
      input.f-field-group-betboom__field.js-field-group-field(
        type=(type || "text")
        id=id
        name=name
        value=value
        placeholder=placeholder
        class=isRequired && "js-field-required"
        class=inputClassName
      )
      button.f-field-group-betboom__btn.js-field-group-btn(type="button")
      if isRequired
        .f-field-betboom__error Заполните поле
